/*--Header--*/
header{
}
#logo{
   position: relative;
   top:5%;
   line-height: 0.9;
}
#flats{
font-weight: bold;
font-size: 25px;
margin-bottom: 0px;
line-height: 0px;
}
#armenia{
  font-weight: lighter;
font-size: 10px;
margin-top: 0px;
line-height: 0.6;
margin-left: 7px;
}
#menu-bar {
margin-top: 5%;
padding: 0px, 0px, 10px;
}
.nav-link {
    display: block;
    padding: .5rem 2rem;
    color: #ffffff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link:focus, .nav-link:hover {
    color: #e9d434;
}
hr{
  position: relative;
  top:20%;
}
/*--End-Header--*/
#outer-image{
  height: 822px;
    width: 115%;
        overflow: hidden;
    position: relative;
}
#hero-image{
    height: 820px;
    width: 100%;
    background: url(../images/decoration.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation-name: hero-zoom;
  animation-duration: s;
  animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(2);
    }
}
#title{
    color:#0a0a0a;
    font-size: 70px;
    text-align:center;
    margin-top: 40%;

}
#small-letter{
    font-size: 20px;
    text-align:justify;
    margin-left: 50px;
    color: gray;
}
.row{
    --bs-gutter-x: 9.0rem;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 820px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.round-image{
  height: 500px;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 15%;
}
#carouselExampleSlidesOnly{
margin-top: 10px;
}

.motion{
   animation-name: hero-zoom;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(2);
    }
}
#gif{
  height:50px ;
  width: 50px;
  margin-left: 10%;
  opacity: 1;
  margin-top: 10%;
}
.background-image{
height: 800px;
}
@media screen and (max-width: 1024px) {
   
  #black-side{
    padding-left: 0px;
  }
}
  .nav-link{
    padding:0.6rem 0.6rem;
  }
  .round-image{
  margin-left: 5%;
  width: 90%;
}
}


